<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Series detail</h1>
        <h1> {{ object.title }} </h1>
        <ul>
            {% for serie in object.episodes %}
            <li> <a href="{{ serie.get_absolute_url }}">{{serie.title}} </a></li>
            {% endfor %}

        </ul>

    </body>
</html>
